/* Start Variables */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --main-transition: 0.3s;
}
/* End Variables */
/* start Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
*:focus {
  outline: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
a {
  text-decoration: none;
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* End Global Rules */
/* Start Common Components */
.toggle-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 15px;
  position: relative;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #aaa;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}
/* End Common Components */
/* Start Sidebar */
.sidebar {
  width: 200px;
  -webkit-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  position: fixed;
  height: 100vh;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .sidebar > h3::before,
  .sidebar > h3::after {
    content: "";
    position: absolute;
    background-color: black;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .sidebar > h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
  }
  .sidebar > h3::after {
    bottom: -29px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 4px solid white;
  }
}
.sidebar ul li a {
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
  margin-bottom: 15px;
}
.sidebar ul li a.active,
.sidebar ul li a:hover {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
}
/* End Sidebar */
/* Start Content */
.content {
  overflow: hidden;
  margin-left: 200px;
}
@media (max-width: 767px) {
  .content {
    margin-left: 58px;
  }
}
/* Start Header  */
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--grey-color);
  font-size: 14px;
}
.head .search input {
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  -webkit-transition: width var(--main-transition);
  -o-transition: width var(--main-transition);
  transition: width var(--main-transition);
}
.head .search input:focus {
  width: 200px;
}
.head .search input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.head .search input:focus::-moz-placeholder {
  opacity: 0;
}
.head .search input:focus:-ms-input-placeholder {
  opacity: 0;
}
.head .search input:focus::-ms-input-placeholder {
  opacity: 0;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  border: 2px solid #eee;
  border-radius: 50%;
}
/* End Header  */
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -10px;
  left: 0;
}
.page h1::before {
  background-color: white;
  width: 120px;
}
.page h1::after {
  background-color: black;
  width: 40px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    -ms-grid-columns: minmax(200px, 1fr);
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
/* End Content */
/* Start Welcome Widget */
.welcome {
  overflow: hidden;
}
.welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  -webkit-box-shadow: 0 0 5px #ddd;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .intro {
    border-bottom: 30px;
  }
  .welcome .avatar {
    margin-left: 0;
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* End Welcome Widget */
/* Start Quick Draft Widget */
.quick-draft textarea {
  resize: none;
  min-height: 180px;
}
.quick-draft .save {
  margin-left: auto;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
  cursor: pointer;
}
.quick-draft .save:hover {
  background-color: var(--blue-alt-color);
}
/* End Quick Draft Widget */
/* Start Yearly Target Widget */
.targets .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.targets .target-row .details {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.targets .details .progress {
  height: 4px;
}
.targets .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .details .progress > span span {
  position: absolute;
  bottom: 16px;
  right: -16px;
  padding: 2px 5px;
  font-size: 13px;
}
.targets .details .progress > span span::after {
  content: "";
  position: absolute;
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  bottom: -9px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::after {
  border-top-color: var(--green-color);
}
.blue .icon,
.blue .progress {
  background-color: rgb(0 177 255 /20%);
}
.orange .icon,
.orange .progress {
  background-color: rgb(245 158 11 /20%);
}
.green .icon,
.green .progress {
  background-color: rgb(34 197 94 /20%);
}
/* End Yearly Target Widget */
/* Start Tickets Widget */
.tickets .box {
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}
/* End Tickets Widget */
/* Start Latest News Widget  */
.latest-news .news-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.latest-news .news-row img {
  width: 100px;
  margin-right: 15px;
}
.latest-news .news-row .info {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (max-width: 767px) {
  .latest-news .news-row .label {
    width: fit-content;
    margin: 10px auto;
  }
}
/* End Latest News Widget  */
/* Start Tasks Widget */
.tasks .task-row:not(:last-of-type) {
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.tasks .info {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.tasks .done {
  opacity: 0.3;
}
.tasks .done h3,
.tasks .done p {
  text-decoration: line-through;
}
.tasks .delete {
  cursor: pointer;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
.tasks .delete:hover {
  color: var(--red-color);
}
/* End Tasks Widget */
/* Start Latest Uploads Widget */
.latest-uploads ul li img {
  width: 40px;
  height: 40px;
}
/* End Latest Uploads Widget */
/* Start Last Projects Widget */
.last-project ul::before {
  content: "";
  position: absolute;
  left: 11px;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
}
.last-project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  margin-right: 15px;
  z-index: 1;
}
.last-project ul li.done::before {
  background-color: var(--blue-color);
}
.last-project ul li.current::before {
  -webkit-animation: change-color 0.8s infinite alternate;
  animation: change-color 0.8s infinite alternate;
}
.last-project .lanuch-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 160px;
  opacity: 0.1;
}
/* End Last Projects Widget */
/* Start Reminders Widget */
.reminders ul li .key {
  width: 15px;
  height: 15px;
}
.reminders ul li > .blue {
  border-left: 2px solid var(--blue-color);
}
.reminders ul li > .green {
  border-left: 2px solid var(--green-color);
}
.reminders ul li > .orange {
  border-left: 2px solid var(--orange-color);
}
.reminders ul li > .red {
  border-left: 2px solid var(--red-color);
}
/* End Reminders Widget */
/* Start Latest Past Widget */
.latest-post .top .avatar {
  width: 48px;
  height: 48px;
}
.latest-post .post-content {
  text-transform: capitalize;
  line-height: 1.8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 140px;
}
/* End Latest Past Widget */
/* Start Social Media Stats Widget */
.social-media .box {
  padding-left: 70px;
}
.social-media .box i {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
.social-media .box i:hover {
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}
.social-media .twitter {
  background-color: rgb(29, 161, 242, 0.2);
  color: #1da1f2;
}
.social-media .twitter i,
.social-media .twitter a {
  background-color: #1da1f2;
}
.social-media .facebook {
  background-color: rgb(24, 119, 242, 0.2);
  color: #1877f2;
}
.social-media .facebook i,
.social-media .facebook a {
  background-color: #1877f2;
}
.social-media .youtube {
  background-color: rgb(255, 0, 0, 0.2);
  color: #ff0000;
}
.social-media .youtube i,
.social-media .youtube a {
  background-color: #ff0000;
}
.social-media .linkedin {
  background-color: rgb(10, 102, 194, 0.2);
  color: #0a66c2;
}
.social-media .linkedin i,
.social-media .linkedin a {
  background-color: #0a66c2;
}
/* End Social Media Stats Widget */
/* Start Project Table */
.projects .responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 950px;
  border-spacing: 0;
}
.projects thead th {
  background-color: #eee;
  padding: 15px;
}
.projects table td {
  padding: 15px;
}
.projects tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
.projects tbody td:last-child {
  border-right: 1px solid #eee;
}
.projects tbody tr:hover td {
  background-color: #faf7f7;
}
.projects table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.projects table img:not(:first-child) {
  margin-left: -20px;
}
.projects table .label {
  font-size: 13px;
}
/* End Project Table */
/* ************************ Start Settings ************** */
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .settings-page {
    -ms-grid-columns: minmax(100px, 1fr);
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.settings-page .close-message {
  resize: none;
  min-height: 150px;
}
.settings-page .email {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: calc(100% - 80px);
}
.settings-page .sec-box {
  padding-bottom: 15px;
}
.settings-page .sec-box .button {
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
.settings-page .sec-box .button:hover {
  background-color: var(--blue-alt-color);
}
.settings-page .sec-box:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.settings-page .social-boxs i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
.settings-page .social-boxs input {
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding-left: 10px;
  border-radius: 0 6px 6px 0;
}
.settings-page .social-boxs > div:focus-within i {
  color: black;
}
.settings-page :disabled {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
}
.settings-page .widgets-control .control input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.settings-page .widgets-control .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.settings-page .widgets-control .control label::before,
.settings-page .widgets-control .control label::after {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  border-radius: 4px;
}
.settings-page .widgets-control .control label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
}
.settings-page .widgets-control .control label:hover::before {
  border-color: var(--blue-alt-color);
}
.settings-page .widgets-control .control label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: 900;
  background-color: var(--blue-color);
  color: white;
  width: 18px;
  height: 18px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: scale(0) rotate(360deg);
  -ms-transform: scale(0) rotate(360deg);
  transform: scale(0) rotate(360deg);
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
.settings-page
  .widgets-control
  .control
  input[type="checkbox"]:checked
  + label::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.settings-page .backup-control input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.settings-page .backup-control .date label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.settings-page .backup-control .date label::before,
.settings-page .backup-control .date label::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.settings-page .backup-control .date label::before {
  left: 0;
  top: 50%;
  width: 18px;
  height: 18px;
  border: 2px solid var(--grey-color);
  margin-top: -11px;
}
.settings-page .backup-control .date label::after {
  width: 12px;
  height: 12px;
  background-color: var(--blue-color);
  left: 4.5px;
  top: 4.5px;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.settings-page .backup-control .date label:hover::before {
  border-color: var(--blue-alt-color);
}
.settings-page
  .backup-control
  .date
  input[type="radio"]:checked
  + label::before {
  border-color: var(--blue-color);
}
.settings-page
  .backup-control
  .date
  input[type="radio"]:checked
  + label::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.settings-page .backup-control .serviers {
  border-top: 1px solid #eee;
  padding-top: 20px;
  gap: 5px;
}
@media (max-width: 767px) {
  .settings-page .backup-control .serviers {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 0;
  }
}
.settings-page .backup-control .serviers .server {
  border: 2px solid #eee;
  position: relative;
}
.settings-page .backup-control .serviers .server label {
  cursor: pointer;
}
.settings-page .backup-control .serviers input[type="radio"]:checked + .server {
  color: var(--blue-color);
  border-color: var(--blue-color);
}
/* ************************ End Settings ************** */

/* ************************ Start Profile ************** */
@media (max-width: 767px) {
  .profile-page .overview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.profile-page .avatar-box {
  width: 300px;
}
@media (min-width: 768px) {
  .profile-page .avatar-box {
    border-right: 1px solid #eee;
  }
}
.profile-page .avatar-box > img {
  width: 120px;
  height: 120px;
}
.profile-page .avatar-box .level {
  height: 6px;
  overflow: hidden;
  margin: auto;
  width: 70%;
}
.profile-page .avatar-box .level span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--blue-color);
  border-radius: 6px;
}
.profile-page .info-box .box {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.profile-page .info-box .box:hover {
  background-color: #f6f6f6;
}
.profile-page .info-box .box > div {
  padding: 10px 0 0;
}
@media (min-width: 768px) {
  .profile-page .info-box .box > div {
    min-width: 250px;
  }
}
@media (max-width: 767px) {
  .profile-page .info-box .box > div:last-child {
    margin: auto;
  }
}
.profile-page .info-box .toggle-switch {
  height: 20px;
}
.profile-page .info-box .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
}
.profile-page .info-box .toggle-checkbox:checked + .toggle-switch::before {
  left: 62px;
}

@media (max-width: 767px) {
  .profile-page .other-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
/* Start Skills */
.profile-page .skills-card {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.profile-page .skills-card ul li {
  padding: 15px 0;
}
.profile-page .skills-card ul li span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.profile-page .skills-card ul li span:not(:last-child) {
  margin-right: 5px;
}
@media (max-width: 767px) {
  .profile-page .skills-card ul li span:not(:last-child) {
    margin-bottom: 5px;
  }
}

/* End Skills */
/* Start Activities */
.profile-page .activites {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}
.profile-page .activites .activity > img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .profile-page .activites .activity .date {
    margin-left: auto;
    text-align: right;
  }
}
@media (max-width: 767px) {
  .profile-page .activites .activity {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .profile-page .activites .activity > img {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .profile-page .activites .activity .date {
    margin-top: 15px;
  }
}
/* End Activities */
/* ************************ End Profile ************** */
/* ************************ Start Projects ************** */
.projects-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
  .projects-page {
    -ms-grid-columns: minmax(200px, 1fr);
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.projects-page .project .date {
  position: absolute;
  right: 10px;
  top: 10px;
}
.projects-page .project .team {
  position: relative;
  min-height: 80px;
}
.projects-page .project .team a {
  position: absolute;
  left: 0;
  bottom: 0;
}
.projects-page .project .team a:nth-child(2) {
  left: 25px;
}
.projects-page .project .team a:nth-child(3) {
  left: 50px;
}
.projects-page .project .team a:nth-child(4) {
  left: 75px;
}
.projects-page .project .team a:nth-child(5) {
  left: 100px;
}
.projects-page .project .team a:hover {
  z-index: 1000;
}
.projects-page .project .team img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
.projects-page .project .do {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-top: 1px solid #eee;
  padding-top: 15px;
  margin-top: 15px;
}
.projects-page .project .do span {
  margin-left: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 767px) {
  .projects-page .project .do {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .projects-page .project .do span:not(:last-child) {
    margin-bottom: 15px;
  }
}
.projects-page .project .info {
  border-top: 1px solid #eee;
  margin-top: 15px;
  padding-top: 15px;
}
.projects-page .project .prog {
  height: 8px;
  width: 260px;
  position: relative;
}
.projects-page .project .prog span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
@media (max-width: 767px) {
  .projects-page .project .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .projects-page .project .prog {
    margin-bottom: 15px;
    width: 200px;
  }
}
/* ************************ End Projects ************** */
/* ************************ Start Courses ************** */
.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .courses-page {
    -ms-grid-columns: minmax(200px, 1fr);
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.courses-page .course {
  overflow: hidden;
}
.courses-page .course .cover {
  max-width: 100%;
  width: 100%;
}
.courses-page .course .instructor {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  top: 20px;
  left: 20px;
  border: 2px solid white;
}
.courses-page .course .description {
  line-height: 1.6;
}
.courses-page .course .info {
  border-top: 1px solid #eee;
}
.courses-page .course .info .title {
  position: absolute;
  top: -13px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 27px;
}
/* ************************ End Courses Page ************** */
/* ************************ Start Friends Page ************** */
.friends-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .friends-page {
    -ms-grid-columns: minmax(200px, 1fr);
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.friends-page .friend .contact {
  position: absolute;
  left: 10px;
  top: 10px;
}
.friends-page .friend .contact i {
  background-color: #eee;
  padding: 10px;
  border-radius: 50%;
  color: #666;
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
.friends-page .friend .contact i:hover {
  background-color: var(--blue-color);
  color: white;
}
.friends-page .friend .icons {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.friends-page .friend .icons i {
  margin-right: 5px;
}
.friends-page .friend .icons .vip {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 40px;
  opacity: 0.2;
}
/* ************************ End Friends Page ************** */
/* ************************ Start Files Page ************** */
.files-page {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .files-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: normal;
    -ms-flex-align: normal;
    align-items: normal;
  }
}
.files-page .files-stats {
  min-width: 260px;
}
.files-page .files-stats .icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.files-page .files-stats .size {
  margin-left: auto;
}
.files-page .files-stats .blue {
  background-color: rgb(0 177 255 /20%);
}
.files-page .files-stats .green {
  background-color: rgb(34 197 94 /20%);
}
.files-page .files-stats .red {
  background-color: rgb(244 67 54 /20%);
}
.files-page .files-stats .orange {
  background-color: rgb(245 158 11 /20%);
}
.files-page .files-stats .upload {
  margin: 15px auto 0;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
  padding: 10px 15px;
}
.files-page .files-stats .upload:hover {
  background-color: var(--blue-alt-color);
}
.files-page .files-stats .upload:hover i {
  -webkit-animation: go-up 0.8s infinite;
  animation: go-up 0.8s infinite;
}
.files-page .files-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.files-page .files-content img {
  width: 64px;
  height: 64px;
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}
.files-page .files-content .file:hover img {
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
}
.files-page .files-content .file .info {
  border-top: 1px solid #eee;
}
/* ************************ End Files Page ************** */
/* ************************ Start Plans Page ************** */
.plans-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
  .plans-page {
    -ms-grid-columns: minmax(250px, 1fr);
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.plans-page .plan .top {
  border: 3px solid white;
  outline: 3px solid transparent;
  border-radius: 5px;
}
.plans-page .plan.green .top {
  outline-color: var(--green-color);
}
.plans-page .plan.blue .top {
  outline-color: var(--blue-color);
}
.plans-page .plan.orange .top {
  outline-color: var(--orange-color);
}
.plans-page .plan .price {
  position: relative;
  font-size: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.plans-page .plan .price span {
  position: absolute;
  left: -20px;
  top: 0;
  font-size: 26px;
}
.plans-page .plan ul li {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
  border-bottom: 1px solid #eee;
}
.plans-page .plan ul li .yes {
  color: var(--green-color);
}
.plans-page .plan ul li i:not(.yes, .help) {
  color: var(--red-color);
}
.plans-page .plan ul li i:first-child {
  font-size: 18px;
  margin-right: 5px;
}
.plans-page .plan ul li .help {
  color: var(--grey-color);
  margin-left: auto;
  cursor: pointer;
}
/* ************************ End Plans Page ************** */

/* Start Animation */
@-webkit-keyframes change-color {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: white;
  }
}
@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: white;
  }
}

@-webkit-keyframes go-up {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes go-up {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
/* End Animation */